@define-color background #1d2021;
@define-color foreground #ebdbb2;
@define-color dim        #928374;
@define-color yellow     #fabd2f;
@define-color red        #fb4934;
@define-color green      #b8bb26;

* {
    background: @background;
    color: @foreground;
    min-height: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    font-family: "DejaVu Sans Mono";
    font-size: 13;
    margin: 0 5;
    padding: 0 5;
}

tooltip,
tooltip * {
    margin: 0 0;
    padding: 0 0;
    border: 4 solid #0f0e0e;
    background: #0f0e0e;
}

tooltip * {
    border: none; 
}

window#waybar {
    background: @background;
    color: @foreground;
    transition-duration: 0.5s;
}

#workspaces,
#workspaces button {
    background: @background;
    color: @foreground;
    padding: 0 0;
    margin-left: 0;
}

#workspaces button {
    border-top: 3 solid @background;
    border-bottom: 3 solid transparent;
}

#workspaces button.focused {
    border-bottom: 3 solid @green;
}

#workspaces button.urgent {
    border-bottom: 3 solid @yellow;
}


#mode {
    border-bottom: 3 solid @red;
}

#battery.warning,
#disk.warning,
#memory.warning,
#cpu.warning {
    border-top: 3 solid @background;
    border-bottom: 3 solid @yellow;
}

#battery.critical,
#disk.critical,
#memory.critical,
#cpu.critical {
    border-top: 3 solid @background;
    border-bottom: 3 solid @red;
}

#battery.charging {
    border-top: 3 solid @background;
    border-bottom: 3 solid @green;
}
