@import "font.css";
@import "colors.css";

* {
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    background-color: #1c1f2b;
}

#window {
    margin: 0;
    padding-left: 8;
    padding-right: 8;
}

tooltip,
tooltip * {
    font-weight: normal;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

#workspaces button {
    padding: 0 4px;
}

#workspaces button.active,
#workspaces button.focused {
    background-color: @focus;
}

#workspaces button.urgent {
    background-color: @red;
}

#pulseaudio,
#bluetooth,
#language,
#clock,
#battery,
#cpu,
#window,
#memory,
#disk,
#temperature,
#tray,
#network,
#mode {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

#battery.charging,
#idle_inhibitor {
    color: @green;
}

#idle_inhibitor {
    margin-right: 12px;
}

#battery.warning,
#disk.warning,
#memory.warning,
#temperature.warning,
#cpu.warning {
    color: @yellow
}

#mode,
#battery.critical,
#disk.critical,
#memory.critical,
#temperature.critical,
#cpu.critical
#idle_inhibitor.activated {
    color: @red;
}

#battery {
    color: @green;
    border-bottom: 2px solid @green;
}

.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}
